header{
    background-color: darkgray;
    width: 100%;
}
.nav{
    display: inline-block;
    position:absolute;
    top:40px;
}
.logo{
    display: inline-block;
    margin:10px 30px 10px 150px;
}
.nav-list{
    display: inline-block;
}
.nav-list-item{
    display: inline-block;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.div1{
    margin:30px 200px 20px 200px ;
}
.div2{
    margin:10px 165px 10px 200px ;
}
.div2-img{
  margin-right: 25px;
}
.div3{
    display: inline-block;
    margin: 10px 200px 30px 200px;
}
.div3-img{
    display: inline-block;
    margin-right: 25px;
    
}
.div3-heading{
    font-size: 30px;
    font-weight: bold;
}
.div3-paragraph{
    display: inline-block;
    width: 460px;
    position: absolute;
    font-size: 18px;
}
.div3-button{
   display: block;
   background-color: black;
   color: white;
    width: 150px;
    height: 30px;
    margin-top: 123px;
    
}
.div3-button:hover{
 background-color: white;
 color: black;
 transition-delay: 350ms;
}
footer{
    background-color: darkgray; 
    height: 75px;
    width: 100%;
}